name: Run tests

on:
  push:
    branches:
    - main
    paths:
    - '**.swift'
  pull_request:
    branches:
    - main

jobs:
  linux-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        swift:
          - 'swift:5.9'
          - 'swift:5.10'
        database:
          - postgres
    container:
      image: ${{ matrix.swift }}
      volumes: [ 'pgrunshare:/var/run/postgresql' ]
    services:
      postgres:
        image: ${{ matrix.database }}
        env:
          POSTGRES_USER: 'test_user'
          POSTGRES_DB: 'test_database'
          POSTGRES_PASSWORD: 'test_password'
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Test
      env:
        PG_HOST: 'postgres'
        PG_USER: 'test_user'
        PG_PASS: 'test_password'
        PG_DB: 'test_database'
      run: swift test --parallel --enable-code-coverage
  # macOS-tests:
  #   runs-on: self-hosted
  #   strategy:
  #     fail-fast: false
  #   env:
  #     POSTGRES_USER: 'test_username'
  #     POSTGRES_PASSWORD: 'test_password'
  #     PGDATA: '/tmp/postgres-test'
  #   steps:
  #     - name: Setup Postgres
  #       run: |
  #       # brew install postgresql && brew link --force postgresql
  #       # brew services stop postgresql
  #         pg_ctl -D /tmp/postgres-test -w 2>/dev/null
  #         rm -rf /tmp/postgres-test
  #         initdb --locale=C --auth-host=scram-sha-256 -U "${POSTGRES_USER}" --pwfile=<(echo "${POSTGRES_PASSWORD}")
  #         pg_ctl -D /tmp/postgres-test -l logfile start --wait
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #     - name: Run all tests
  #       env:
  #         PG_HOST: ${{ secrets.PG_HOST }}
  #         PG_DB: ${{ secrets.PG_DATABASE }}
  #         PG_USER: ${{ secrets.PG_USER }}
  #         PG_PASS: ${{ secrets.PG_PASSWORD }}
  #       run: swift test --parallel --enable-code-coverage












