name: Run tests

on:
  push:
    branches:
    - main
    paths:
    - '**.swift'
  pull_request:
    branches:
    - main

jobs:
  linux-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        swift:
          - 'swift:5.9'
          - 'swift:5.10'
        database:
          - postgres
    container:
      image: ${{ matrix.swift }}
      volumes: [ 'pgrunshare:/var/run/postgresql' ]
    services:
      postgres:
        image: ${{ matrix.database }}
        env:
          POSTGRES_USER: 'test_user'
          POSTGRES_DB: 'test_database'
          POSTGRES_PASSWORD: 'test_password'
          # POSTGRES_HOST_AUTH_METHOD: ${{ matrix.postgres-auth }}
          # POSTGRES_INITDB_ARGS: --auth-host=${{ matrix.postgres-auth }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Test
      env:
        POSTGRES_HOST: postgres
        POSTGRES_PORT: 5432
      run: swift test --parallel --enable-code-coverage

  # macOS-tests:
  #   runs-on: self-hosted
  #   steps:
  #     - name: Setup MySQL DB
  #       shell: bash
  #       env:
  #         MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}
  #         MYSQL_USER: ${{ secrets.MYSQL_USER }}
  #         MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
  #       run: |
  #         brew install mysql && brew link --force mysql
  #         brew services start mysql
  #         until echo | mysql -u root; do sleep 1; done
  #         mysql -u root --batch <<-SQL
  #             CREATE USER IF NOT EXISTS ${MYSQL_USER}@localhost IDENTIFIED BY '${MYSQL_PASSWORD}';
  #             DROP DATABASE IF EXISTS ${MYSQL_DATABASE};
  #             CREATE DATABASE ${MYSQL_DATABASE};
  #             GRANT ALL PRIVILEGES ON ${MYSQL_DATABASE}.* TO ${MYSQL_USER}@localhost;
  #         SQL
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #     - name: Test
  #       env:
  #         MYSQL_HOST: ${{ secrets.MYSQL_HOST }}
  #         MYSQL_DB: ${{ secrets.MYSQL_DATABASE }}
  #         MYSQL_USER: ${{ secrets.MYSQL_USER }}
  #         MYSQL_PASS: ${{ secrets.MYSQL_PASSWORD }}
  #       run: swift test --parallel --enable-code-coverage
